@model HelpOn.Web.ViewModel.ChamadoViewModel
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>
@using (Ajax.BeginForm("Buscar", null, new AjaxOptions
{
    HttpMethod = "get",
    UpdateTargetId = "tabela",
    InsertionMode = InsertionMode.Replace
},
                new { @id = "formularioBusca", @class = "form-inline", @method = "get" }))
{
    <div class="col-md-3">
        <select name="Processo" class="form-control" id="ProcessoSelect">
            <option value="Aberto" selected="selected">Aberto</option>
            <option value="Em Processo">Em Processo</option>
            <option value="Fechado">Fechado</option>
            <option value="">Todos</option>
        </select>
    </div>
    <div class="col-md-3">
        <select name="NumeroAndar" class="form-control" id="LaboratorioSelect">
            @foreach (var andar in Model.Andares)
            {
                <option value="@andar.NumeroAndar">Unidade: @andar.Unidade.IDUnidade  Andar: @andar.NumeroAndar</option>
            }


        </select>
    </div>
    <button type="submit" class="btn btn-default">Cadastrar </button>
}
<table class="table">
   <thead>
       <tr>
           <td>Chamado</td>
           <td>Status</td>
           <td>Unidade</td>
           <td>Andar</td>
           <td>Laboratorio</td>
       </tr>
   </thead>
    <tbody id="tabela">
        @Html.Partial("_listaChamado", Model.Chamados)
    </tbody>
</table>
<!---- Modal ------>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Deseja atender o chamado ?
            </div>
            <div class="modal-footer">
                @using (Ajax.BeginForm("AtenderChamado", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    UpdateTargetId = "tabela",
                    InsertionMode = InsertionMode.Replace
                },
            new { @id = "mudaProcessos", @class = "form-inline", @method = "post" }))
                {
                    <input type="hidden" id="IDChamado" name="IDChamado" />
                    <button type="submit" class="btn btn-primary botaoChamado" value="Aberto" id="Aberto" name="Processo">Aberto</button>
                    <button type="submit" class="btn btn-warning botaoChamado" value="Em Processo" id="EmProcesso" name="Processo">Em Processo</button>
                    <button type="submit" class="btn btn-danger botaoChamado" value="Fechado" id="Fechado" name="Processo">Fechado</button>
                    <button type="button" class="btn btn-default botaoFechaModel" data-dismiss="modal">Cancelar</button>
                }
            </div>
        </div>
    </div>
</div>

<input type="button" class="btn btn-primary" value="Atualizar" id="atualiza" />
@section scripts{
<script>
    $().ready(function () {

        var intervalo = window.setInterval(recarregaFormulario, 500);
        function recarregaFormulario() {
            $("#formularioBusca").submit();
        }

        $(".botaoChamado").click(function () {
                $(".botaoFechaModel").trigger('click');
                $(".botaoFechaModel").trigger('click');
        });

        $("#ProcessoSelect").change(function () {
            $("#formularioBusca").submit();
        });
        
        $("#LaboratorioSelect").change(function () {
            $("#formularioBusca").submit();
        });

    })

    $.ajax({
        url: "localhost:28125/api/andar",
        method: "GET",
        success: function (data) {
            $.each(data, function (index, item) {
                //Criar uma nova linha
                var linha = $("<tr>");
                linha.append($("<td>").text(item.Id));
                linha.append($("<td>").text(item.Numero));
                linha.append($("<td>").text(item.UnidadeId));

                $("tbody").html(linha);
            });
        }
    })

    

   


</script>
}