@model HelpOn.Web.ViewModel.ChamadoViewModel

@foreach (var descricao in Model.Descricoes)
{
    <div id="botoes" class="col-md-6">
        <button class="btn btn-custom btn-lg btn-block" data-toggle="modal" data-target="#myModal">@descricao.Nome</button>
    </div>
}

 
