@model List<HelpOn.Dominio.Models.Laboratorio>


    @foreach (var laboratorio in Model)
    {
        foreach (var chamado in laboratorio.Chamado)
        {
            if(chamado.Processo == "Aberto")
            {
            <tr>
                <td>@chamado.Descricao</td>
                <td>@chamado.Processo</td>
                <td>@chamado.NumeroLab</td>
            </tr>
            }
        }
    }

