@model List<HelpOn.Dominio.Models.Chamado>


    
    
        @foreach (var chamado in Model)
        {
            
            
            <tr>
                <td>@chamado.Descricao</td>
                <td>@chamado.Processo</td>
                <td>@chamado.NumeroLab</td>
            </tr>
            
        
    }

