@model HelpOn.Web.ViewModel.AndarViewModel
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>
@using (Ajax.BeginForm("Buscar", null, new AjaxOptions
{
    HttpMethod = "get",
    UpdateTargetId = "tabela",
    InsertionMode = InsertionMode.Replace
},
                new { @id = "formularioBusca", @class = "form-inline", @method = "get" }))
{
    <div class="col-md-3">
        <select name="Processo" class="form-control">
            <option value="Aberto" selected="selected">Aberto</option>
            <option value="Atendido">Atendido</option>
            <option value="Solucionado">Solucionado</option>
        </select>
    </div>
    <div class="col-md-3">
        <select name="NumeroLab" class="form-control">
            @foreach (var andar in Model.Andares)
            {
                <option value="@andar.NumeroAndar">Unidade: @andar.Unidade.IDUnidade  Laboratorio: @andar.NumeroAndar</option>
            }


        </select>
    </div>
    <input type="submit" value="Buscar" />
}
<table class="table">
   <thead>
       <tr>
           <td>Chamado</td>
           <td>Status</td>
           <td>Laboratorio</td>
       </tr>
   </thead>
    <tbody id="tabela">
        @Html.Partial("_listaChamado", Model.Laboratorios)
    </tbody>
</table>

<input type="button" class="btn btn-primary" value="Atualizar" id="atualiza" />
<script>

    $.ajax({
        url: "localhost:28125/api/andar",
        method: "GET",
        success: function (data) {
            $.each(data, function (index, item) {
                //Criar uma nova linha
                var linha = $("<tr>");
                linha.append($("<td>").text(item.Id));
                linha.append($("<td>").text(item.Numero));
                linha.append($("<td>").text(item.UnidadeId));

                $("tbody").html(linha);
            });
        }
    })

    var tempo = window.setInterval(carrega, 3000);
    function carrega() {
        
        }
    
   
   

</script>