@model ICollection<HelpOn.Dominio.Models.Andar>

@foreach (var andar in Model)
{
    <tr>
        <td>@andar.Unidade.Nome</td>
        <td>@andar.NumeroAndar</td>

        <td>
            <button class="btn btn-danger delete" onclick="NumeroAndar.value = @andar.NumeroAndar" data-toggle="modal" data-target="#deletar">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
}
